.signup-bold-text {
  color: $dark-brown;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1px;
}

.input-group > .form-control:not(:first-child) {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.input-group-text {
  background-color: $dark-brown;
  color: $off-white;
}

.signup-button {
  height: calc(1.5em + .75rem + 2px);
  background-color: $dark-brown;
  color: $off-white;
  width: 100%;
  letter-spacing: 1px;
}

.alternate-auth {
  color: $dark-brown;
  margin-top: 1rem;
  letter-spacing: 1px;

  span {
    &:hover {
      cursor: pointer;
      border-bottom: 1px solid $dark-brown;
      padding-bottom: 2px;
    }
  }
}

.alternate-auth-social {
  color: $dark-brown;
  text-align: center;
  letter-spacing: 1px;
}

.social-auth {
  display: flex;
  margin: 0 auto 2rem;
  width: fit-content;
  padding-left: 1.5rem;

  img {
    display: inline-block;
    height: 2rem;
    margin-right: 1.5rem;
    width: 2rem;
    cursor: pointer;
  }
}
