.cancel-icon {
  height: 1.5rem;
  margin-left: 27rem;
}

@media only screen and (max-width: 494px) {
  .cancel-icon {
    margin-left: 25rem;
  }
}

@media only screen and (max-width: 462px) {
  .cancel-icon {
    margin-left: 23rem;
  }
}

@media only screen and (max-width: 428px) {
  .cancel-icon {
    margin-left: 21rem;
  }
}

@media only screen and (max-width: 394px) {
  .cancel-icon {
    margin-left: 19rem;
  }
}

@media only screen and (max-width: 360px) {
  .cancel-icon {
    margin-left: 17rem;
  }
}
