.nav-container {
  position: absolute;
  top: 2.5rem;
  right: 4rem;
  font-size: 20px;
  color: $off-white;
  float: right;
  font-size: 20px;
  font-weight: 100;
  cursor: pointer;

  li {
    display: inline;
    margin-left: 2rem;

    &:focus {
      outline: none;
    }
  }

  a {
    color: $off-white;

    &:hover {
      text-decoration: none;
    }
  }
}

.nav-web-home:hover {
  font-weight: 300;
}

@media only screen and (max-width: 767px) {
  .nav-container {
    display: none;
  }
}